#big
  margin auto
  margin-top 100px
  margin-bottom 80px
  width 1200px

#logged-nav
  width 160px
  height 460px
  background-color rgb(229,229,229)
  border-radius 16px
  text-align center
  display inline-block
  vertical-align top

//用户名
#logged-user
  margin-top 10px
  font-size 12px
  color rgb(128,128,128)

//余额
#logged-balance
  margin-top 10px
  font-size 13px

//分割线
#logged-line
  height 1px
  width 100px
  background-color darkgray
  margin-top 30px
  margin-bottom 15px
  margin-left 30px

#logged-nav img
  width 100px
  height 100px
  margin-top 30px

.logged-title
  margin 15px

.logged-title>a
  text-decoration none
  font-size 12px
  color rgb(51,51,51)

.logged-title>a:active
  color rgb(255,102,64)

#logged-content
  width 1000px
  margin-left 30px
  display inline-block

h2
  font-weight 400

#logged-line-right
  height 1px
  background-color darkgray
  margin-top 10px

#logged-order-title
  width 900px
  margin auto
  margin-top 10px
  height 30px
  overflow hidden

#logged-order-title span:nth-child(1)
  float left
  font-size 14px
  color rgb(51,51,51)
  margin-top 5px

#logged-order-title span:nth-child(2)
  float right

#logged-order-title span:nth-child(2)>a
  font-size 12px
  text-decoration none
  color rgb(128,128,128)

#logged-order-title span:nth-child(2)>span
  font-size 12px
  margin 4px

#logged-order-title span:nth-child(2)>a:active
  color rgb(73,193,218)

#logged-order-content
  width 1000px
  height 40px
  background-color rgb(229,229,229)
  border-radius 6px
  margin-top 10px

#logged-order-content>ul>li
  display inline-block
  text-decoration none
  line-height 40px
  font-size 12px
  color rgb(0,0,0)
  margin-left 40px
  width 100px

#logged-content-order
  width 1000px
  height 400px
  text-align center
  line-height 400px
  font-size 30px
  font-weight 200px
  color rgb(204,204,204)


