#big
  margin auto
  margin-top 100px
  margin-bottom 80px
  width 1200px

#logged-nav
  width 160px
  height 460px
  background-color rgb(229,229,229)
  border-radius 16px
  text-align center
  display inline-block
  vertical-align top

//用户名
#logged-user
  margin-top 10px
  font-size 12px
  color rgb(128,128,128)

//余额
#logged-balance
  margin-top 10px
  font-size 13px

//分割线
#logged-line
  height 1px
  width 100px
  background-color darkgray
  margin-top 30px
  margin-bottom 15px
  margin-left 30px

#logged-nav img
  width 100px
  height 100px
  margin-top 30px

.logged-title
  margin 15px

.logged-title>a
  text-decoration none
  font-size 12px
  color rgb(51,51,51)

.logged-title>a:active
  color rgb(255,102,64)
#maizuocare-content
  width 1000px
  display inline-block
  margin-left 30px
  height 600px

h2
  font-weight 400

#maizuocare-line
  height 1px
  background-color darkgray
  margin-top 10px

#maizuologin-content
  width 300px
  margin auto
  margin-top 60px
  text-align center

#maizuocare-content
  text-align center

#maizuologin-content>img
  width 20px
  height 40px
  vertical-align middle

#maizuologin-content>p
  display inline-block
  margin-left 30px

.maizuologin-input
  width 310px
  height 40px
  border-radius 4px
  outline none
  margin auto
  margin-top 20px
  display block

button
  width 310px
  height 40px
  display inline-block
  background-color orangered
  margin auto
  margin-top 20px
  outline none
  border none
  color white
  font-size 16px


