#big
  margin auto
  margin-top 100px
  margin-bottom 80px
  width 1200px

#logged-nav
  width 160px
  height 460px
  background-color rgb(229,229,229)
  border-radius 16px
  text-align center
  display inline-block
  vertical-align top

//用户名
#logged-user
  margin-top 10px
  font-size 12px
  color rgb(128,128,128)

//余额
#logged-balance
  margin-top 10px
  font-size 13px

//分割线
#logged-line
  height 1px
  width 100px
  background-color darkgray
  margin-top 30px
  margin-bottom 15px
  margin-left 30px

#logged-nav img
  width 100px
  height 100px
  margin-top 30px

.logged-title
  margin 15px

.logged-title>a
  text-decoration none
  font-size 12px
  color rgb(51,51,51)

.logged-title>a:active
  color rgb(255,102,64)

#maizuocare-content
  width 1000px
  display inline-block
  margin-left 30px
  height 600px

h2
  font-weight 400

#maizuocare-line
  height 1px
  background-color darkgray
  margin-top 10px

#maizuocare-main-content
  margin-top 30px
  cursor pointer

#maizuocare-main-content>img
  width 14px
  height 14px

#maizuocare-content-phone
  border 1px solid darkgray
  margin-top 20px
  width 1000px

#maizuocare-content-phone>div
  width 800px
  margin auto
  height 200px

#maizuocare-content-phone>div>p
  display inline-block
  margin-left 30px
  margin-right 30px
  font-size 13px
  cursor pointer
  margin-top 20px

#maizuocare-line3
  height 2px
  background-color darkgray
  margin-bottom 20px

input
  height 40px
  width 200px
  border-radius 4px
  margin-top 20px
  outline none
  margin-left 20px

input:last-child
  margin-left 30px

button
  color white
  width 90px
  height 30px
  text-align center
  background-color orangered
  outline none
  border none
  margin-left 20px





