#about
  width 1200px
  height 600px
  margin auto
  margin-top 100px
  margin-bottom 120px

#about-nav-title
  display inline-block
  background-color rgb(229,229,229)
  border-radius 20px
  vertical-align: top

#about-ul
  list-style none
  width 170px
  height 500px
  text-align center


#about-ul li
  margin-top 30px
  font-size 12px

#about-ul>li:nth-child(3) a
  color rgb(70,193,212)

#about-ul li a
  text-decoration none
  color rgb(129,129,142)

#about-ul li a:active
  color rgb(70,193,212)

#business-right-content
  display inline-block
  width 950px
  margin-left 40px
  margin-bottom 40px

h1
  font-weight 400

#business-left-title
  width 300px
  display inline-block
  vertical-align: top
  //margin-top 30px

#business-right-title
  width 500px
  display inline-block
  margin-left 30px
  //margin-top 30px

.business-title-teamwork
  color rgb(255,102,64)
  font-size 12px
  margin-top 30px

.business-title-content
  font-size 12px
  margin-top 10px
  color rgb(128,128,128)

.business-title-location
  font-size 14px
  margin-top 30px
  color rgb(128,128,128)

#business-img
  margin-top 30px


