#about
  width 1200px
  height 600px
  margin auto
  margin-top 100px
  margin-bottom 2500px

#about-nav-title
  display inline-block
  background-color rgb(229,229,229)
  border-radius 20px
  vertical-align: top

#about-ul
  list-style none
  width 170px
  height 500px
  text-align center

#about-ul li
  margin-top 30px
  font-size 12px

#about-ul>li:nth-child(8) a
  color rgb(70,193,212)

#about-ul li a
  text-decoration none
  color rgb(129,129,142)

#about-ul li a:active
  color rgb(70,193,212)

#clause-right-content
  width 950px
  display inline-block
  margin-left 40px

h1
  font-weight 400

.clause-title
  font-size 12px
  color rgb(255,102,95)
  margin-top 30px

.clause-content
  font-size 12px
  margin-top 10px
  color rgb(128,128,128)
  line-height 20px
