#about
  width 1200px
  height 600px
  margin auto
  margin-top 100px
  margin-bottom 250px

#about-nav-title
  display inline-block
  background-color rgb(229,229,229)
  border-radius 20px
  vertical-align: top

#about-ul
  list-style none
  width 170px
  height 500px
  text-align center

#about-ul li
  margin-top 30px
  font-size 12px

#about-ul>li:nth-child(4) a
  color rgb(70,193,212)

#about-ul li a
  text-decoration none
  color rgb(129,129,142)

#about-ul li a:active
  color rgb(70,193,212)

#teamwork-right-content
  display inline-block
  width 950px
  margin-left 40px

h1
  font-weight 400

.tm-img
  margin-top 30px
  //float left
  margin-right 60px