*
  margin 0
  padding 0
  box-sizing border-box
ul li
  list-style none
#cinema-body
  width 100%
  height 1100px
.cinema-container
  width 1200px
  height 100%
  margin auto
  position relative
.clearboth
  opacity 0.001
  font-size 0.1px
  clear both
#cinema-body-right
  width 285px
  height 655px
  float right
  margin-right 15px
#cinema-body-left
  width 850px
  height 100%
  float left
#cinema-body-header
  width 850px
  height 59px
  line-height 59px
  border-bottom 2px solid rgb(193,193,193)
  overflow hidden
#cinema-body-header h2
  float left
#cinema-body-header-right
  float right
  border 1px solid #ccc
  border-radius 10px
  width 320px
  height 32px
  text-align center
  vertical-align: middle
  color rgb(233,233,233)
  margin-right 5px
  line-height 25px
  margin-top 15px
#cinema-body-header-right input
  width 275px
  height 30px
  border none
  outline none
.item
  width 850px
  min-height 109px
  border-bottom 1px solid rgb(223,223,223)
  overflow height
  padding-top 15px
.item div
  width 790px
  min-height: 50px
  display inline-block
  vertical-align middle
  float right
.item div li
  display inline-block
  font-size 12px
  color rgb(193,193,193)
  margin 5px
  min-width 60px
  height 35px
  text-align center
  cursor pointer
.liblue
  margin 5px
  min-width 60px!important
  height 35px!important
  text-align center!important
  line-height 35px!important
  color white!important
  border-radius 15px!important
  background-color #36bfd1!important
  cursor pointer!important
#scoll
  width 850px
  height 800px
  overflow scroll
.item-one
  padding-top 20px
  width 835px
  height 193px
  border-bottom 1px solid rgb(223,223,223)
.item-one a
  text-decoration none
  color black
.item-one img
  width 150px
  height 150px
  vertical-align middle
  border 1px solid rgb(223,223,223)
  cursor pointer
.item-one-text
  width 500px
  height 150px
  display inline-block
  margin-left 15px
  vertical-align middle
  padding-top 20px
.item-one-text h3
  cursor pointer
.item-one-text-ul
  margin-top 25px
  width 500px
  height 44px
.item-one-text-ul li span
  color rgb(167,167,167)
  font-size 10px
.item-one-btn
  width 120px
  height 45px
  border-radius 20px
  background-color #ff6640
  color white
  text-align center
  line-height 45px
  vertical-align middle
  border none
  outline none
  cursor pointer
  margin-left 5px
  font-size 18px
  font-weight bold






