#Footer
  width 100%
  height 350px
  text-align center
  background-color #1A1A1A
  position relative
.Footer_park1
  width 1200px
  height 150px
  background-color #1A1A1A
  padding 0 80px
  margin 0 auto
.Footer_park1 h2:nth-child(1)
  line-height 150px
  display block
  float left
  color #A6A6A6
  margin 0
.Footer_park1 h2:nth-child(1) img
  vertical-align middle
  border-style none
  margin-right 10px
.Footer_park2
  width 100%
  height 200px
  background-color #000000
.contact
  float left
  line-height 150px
  margin-left 140px
.contact span
  color #B2B2B2
  font-size 12px
  vertical-align middle
.contact img
  vertical-align middle
  border-style none
  margin-right 10px
.contact span:nth-child(3)
  font-size 20px
  margin 0 10px 0 2px
.externalLinks
  float right
  line-height 150px
.externalLinks>div
  display inline-block
  margin-left 10px
  position relative
.externalLinks>div img
  vertical-align middle
  border-style none
.Footer_hover1
  display none
  width 210px
  height 230px
  border 10px solid #E5E5E5
  border-radius 8px
  position absolute
  background-color white
  text-align center
  color black
  line-height 20px
  top -220px
  left -96px
  font-size 12px
 .hover1:hover .Footer_hover1
   display block
 .houver1_img
   vertical-align middle
   margin-top 25px
 .houver1_triangular
   width 22px
   position absolute
   bottom -24px
   left 97px
.Footer_hover2
  display none
  width 210px
  height 230px
  border 10px solid #E5E5E5
  border-radius 8px
  position absolute
  background-color white
  text-align center
  color black
  line-height 20px
  top -220px
  left -96px
  font-size 12px
.hover2:hover .Footer_hover2
  display block