*
  margin 0
  padding 0
  box-sizing border-box
.clearboth
  opacity 0.1
  font-size 0.1px
  clear both
#home-body
  width 100%
  min-height 1500px
  overflow hidden
.home-container
  width 1200px
  height 100%
  margin auto
  position relative
#lbt
  width 100%
  min-width 1300px
  height 400px
  overflow hidden
  position relative

#moveBigimg
  width 10000px
  height 100%
  position absolute
  transition all .5s
.movelbt
  height 100%
  display inline-block
.movelbt img
  width 100%
  height 100%
#lbt-clickall
  width 400px
  height 25px
  position absolute
  bottom 15px
  right 50px
  text-align center
  line-height 25px
#lbt-clickall>div
  display inline-block
  width 20px
  height 20px
  border-radius 50%
  background-color gainsboro
  opacity 0.25
  margin-left 30px
  cursor pointer
  border 1px solid gray
.lbt-click-blue
  background-color rgb(45,142,162)!important
#somecircle
  width 3000px
  height 30px
  margin-top -10px
  position absolute
#somecircle div
  width 30px
  height 30px
  margin-left 10px
  margin-right 10px
  background-color white
  border-radius 50%
  display inline-block
#hotAndWill
  width 100%
  height 410px
  border 1px solid black
  margin-top 25px

#hotAndWill-header
  width 100%
  height 80px
  border-bottom  1px solid rgb(163,163,163)
#hotAndWill-header-left
  width 250px
  height 80px
  line-height 80px
  float left
#hotAndWill-header-left h2
  display inline-block
  cursor pointer
  color rgb(163,163,163)
.h2black
  color black!important
#hotAndWill-header-right
  padding-right 10px
  width 300px
  height 80px
  float right
  line-height 80px
  text-align right
  font-size 14px
  color rgb(163,163,163)
#hotAndWill-header-right a {
  color red
  text-decoration none
}
#hotAndWill-goleft
  width 50px
  height 50px
  border-radius 50%
  background-color gray
  position absolute
  left -60px
  top 200px
  cursor pointer
#hotAndWill-goright
  width 50px
  height 50px
  border-radius 50%
  background-color gray
  position absolute
  right -60px
  top 200px
  cursor pointer
#hotAndWill-goleft img,#hotAndWill-goright img{
  width 100%
  height 100%
  border-radius 50%
}
.home-hotfilm-one
  display inline-block
  width 200px
  height 310px
  margin-top 15px
.home-hotfilm-one-img
  width 180px
  height 250px
  margin auto

.home-hotfilm-one-img img
  width 100%
  height 100%
.home-hotfilm-text
  text-align center
  width 100%
  height 30px
  line-height 30px

.home-hotfilm-name
  display inline-block
  margin-right 10px
.home-hotfilm-grade
  color rgb(250,80,45)

