#movie-theatre-introduce
  width 1200px
  margin auto
  border 1px solid palegoldenrod
  margin-bottom 100px
  margin-top 20px

#movie-theatre-data
  font-size 12px

#movie-theatre-data>p
  margin-top 20px
  display inline-block

#movie-theatre-data>div
  font-size 12px
  margin-left 15px
  display inline-block
  text-align center
  line-height 32px
  width 120px
  height 32px
  border-radius 18px

#movie-theatre-data1
  //background-color rgb(54,191,209)
  color black

#movie-theatre-data2
  background-color white
  color black

#movie-theatre-copy
  width 1200px
  height 700px
  margin auto
  margin-top 10px
  border 10px solid rgb(229,229,229)
  border-radius 14px

#movie-theatre-big
  width 1100px
  height 20px
  margin auto
  margin-top 20px

// 电影照片
#movie-theatre-picture
  border 1px solid aqua
  display inline-block
  width 200px
  height 280px
  vertical-align top

//右边
#movie-theatre-show
  width 860px
  height 300px
  display inline-block
  border 10px solid blue
  //margin-top 20px
  margin-left 40px

.movie-theatre-line1
  width 860px
  height 2px
  margin-top 20px
  background-color  darkgrey

#movie-theatre-show-title>div
  display inline-block
  margin-left 30px
  border 1px solid blueviolet

#movie-theatre-show-name
  font-weight 300
  font-size 30px

#movie-theatre-show>ul>li
  list-style none
  display inline-block
  font-size 15px
  color rgb(204,204,204)
  margin-right 50px
  margin-left 30px
  margin-top 20px

//  演员
#movie-theatre-actor
  width 200px
  height auto
  border 5px solid palegreen
