#movie-theatre-nav
  width 1200px
  margin auto
  margin-top 100px
  border 1px solid red

//  电影海报
#movie-theatre-img
  width 150px
  height 150px
  border 1px solid gold
  display inline-block
  vertical-align: top

h2
  margin-bottom 40px


//  电影院的内容
#movie-theatre-content
  border 1px solid darkcyan
  margin-left 30px
  display inline-block
  height 150px
  width 400px

.movie-theatre-phone
  font-size 12px

#movie-theatre-ticket
  width 1200px
  height 270px
  margin auto
  border 1px solid aqua
  margin-top 30px

//  在线购票
#movie-theatre-ticket span
  font-size 20px

#movie-theatre-ticket span a
  text-decoration none
  font-size 23px
  font-weight 350
  color rgb(51,51,51)


//  下划线
.movie-theatre-line
  height 1px
  background-color darkgrey
  margin-top 10px

#movie-theatre-title
  width 1200px
  height 180px
  border 1px solid aquamarine
  position relative
  margin-top 20px

//  影片
#movie-theatre-title p
  font-size 12px
  display inline-block


#movie-theatre-poster
  display inline-block
  border 1px solid darkblue
  width 1100px
  margin-left 30px
  overflow hidden
  vertical-align top
  position relative
  height 160px

#movie-theatre-poster-move
  width 3600px
  height 160px
  position absolute

.movie-theatre-slideshow
  width 120px
  height 160px
  display inline-block
  margin-right 20px
  cursor pointer

.movie-theatre-slideshow img
  width 100%
  height 100%



//  左分页
#movie-theatre-page-left
  width 30px
  height 30px
  border-radius 50%
  background-color rgb(217,217,217)
  text-align center
  line-height 35px
  position absolute
  top 65px
  cursor pointer

#movie-theatre-page-right
  width 30px
  height 30px
  border-radius 50%
  background-color rgb(217,217,217)
  text-align center
  line-height 35px
  position absolute
  top 65px
  right 0
  cursor pointer

//鼠标移入
#movie-theatre-page-left:hover
  background-color rgb(204,204,204)

#movie-theatre-page-right:hover
  background-color rgb(204,204,204)



