#movie-theatre-nav
  width 1200px
  margin auto
  margin-top 100px

//  电影海报
#movie-theatre-img
  width 150px
  height 150px
  display inline-block
  vertical-align: top

#movie-theatre-img img
  width 100%
  height 100%

h2
  margin-bottom 40px


//  电影院的内容
#movie-theatre-content
  margin-left 30px
  display inline-block
  height 150px
  width 400px

.movie-theatre-phone
  font-size 12px

#movie-theatre-address
  font-size 12px

#movie-theatre-ticket
  width 1200px
  height 270px
  margin auto
  margin-top 30px

//  在线购票
#movie-theatre-ticket span
  font-size 20px

#movie-theatre-ticket span a
  text-decoration none
  font-size 23px
  font-weight 350
  color rgb(51,51,51)


//  下划线
.movie-theatre-line
  height 1px
  background-color darkgrey
  margin-top 10px

#movie-theatre-title
  width 1200px
  height 180px
  position relative
  margin-top 20px

//  影片
#movie-theatre-title p
  font-size 12px
  display inline-block


#movie-theatre-poster
  display inline-block
  width 1100px
  margin-left 30px
  overflow hidden
  vertical-align top
  position relative
  height 160px

#movie-theatre-poster-move
  width 3600px
  height 160px
  position absolute

.movie-theatre-slideshow
  width 120px
  height 160px
  display inline-block
  margin-right 20px
  cursor pointer

.movie-theatre-slideshow img
  width 100%
  height 100%



//  左分页
#movie-theatre-page-left
  width 30px
  height 30px
  border-radius 50%
  background-color rgb(217,217,217)
  text-align center
  line-height 35px
  position absolute
  top 65px
  cursor pointer

#movie-theatre-page-right
  width 30px
  height 30px
  border-radius 50%
  background-color rgb(217,217,217)
  text-align center
  line-height 35px
  position absolute
  top 65px
  right 0
  cursor pointer

//鼠标移入
#movie-theatre-page-left:hover
  background-color rgb(204,204,204)

#movie-theatre-page-right:hover
  background-color rgb(204,204,204)

#movie-theatre-introduce
  width 1200px
  margin auto
  margin-bottom 100px
  margin-top 20px

#movie-theatre-data
  font-size 12px

#movie-theatre-data>p
  margin-top 20px
  display inline-block

#movie-theatre-data>div
  font-size 12px
  margin-left 15px
  display inline-block
  text-align center
  line-height 32px
  width 120px
  height 32px
  border-radius 18px

#movie-theatre-data1
  //background-color rgb(54,191,209)
  color black

#movie-theatre-data2
  background-color white
  color black

#movie-theatre-copy
  width 1200px
  height 700px
  margin auto
  margin-top 10px
  border 10px solid rgb(229,229,229)
  border-radius 14px

#movie-theatre-big
  width 1100px
  height 20px
  margin auto
  margin-top 20px

// 电影照片
#movie-theatre-picture
  display inline-block
  width 200px
  height 280px
  vertical-align top

#movie-theatre-picture img
  width 100%
  height 100%

//右边
#movie-theatre-show
  width 860px
  height 300px
  display inline-block
  //margin-top 20px
  margin-left 40px

.movie-theatre-line1
  width 860px
  height 2px
  margin-top 20px
  background-color  darkgrey

#movie-theatre-show-title>div
  display inline-block
  margin-left 30px

#movie-theatre-show-name
  font-weight 300
  font-size 30px

#movie-theatre-show>ul>li
  list-style none
  display inline-block
  font-size 15px
  color rgb(204,204,204)
  margin-right 50px
  margin-left 30px
  margin-top 20px

//  演员
#movie-theatre-actor
  width 200px
  height auto




