#movie-theatre-nav
  width 1200px
  margin auto
  margin-top 100px
  border 1px solid red

//  电影海报
#movie-theatre-img
  width 150px
  height 150px
  border 1px solid gold
  display inline-block
  vertical-align: top

h2
  margin-bottom 40px


//  电影院的内容
#movie-theatre-content
  border 1px solid darkcyan
  margin-left 30px
  display inline-block
  height 150px
  width 400px

.movie-theatre-phone
  font-size 12px

#movie-theatre-ticket
  width 1200px
  height 270px
  margin auto
  border 1px solid aqua
  margin-top 30px

//  在线购票
#movie-theatre-ticket span
  font-size 20px

#movie-theatre-ticket span a
  text-decoration none
  font-size 23px
  font-weight 350
  color rgb(51,51,51)


//  下划线
.movie-theatre-line
  height 1px
  background-color darkgrey
  margin-top 10px

#movie-theatre-title
  width 1200px
  height 180px
  border 1px solid aquamarine
  position relative
  margin-top 20px

//  影片
#movie-theatre-title p
  font-size 12px
  display inline-block


#movie-theatre-poster
  display inline-block

#movie-theatre-poster>div
  display inline-block
  width 120px
  height 160px
  margin-left  22px
  border 1px solid cadetblue


//  左分页
#movie-theatre-page-left
  width 30px
  height 30px
  border-radius 50%
  background-color rgb(217,217,217)
  text-align center
  line-height 35px
  position absolute
  top 65px
  cursor pointer

#movie-theatre-page-right
  width 30px
  height 30px
  border-radius 50%
  background-color rgb(217,217,217)
  text-align center
  line-height 35px
  position absolute
  top 65px
  right 0
  cursor pointer

//鼠标移入
#movie-theatre-page-left:hover
  background-color rgb(204,204,204)

#movie-theatre-page-right:hover
  background-color rgb(204,204,204)

//  下方电影介绍
#movie-theatre-introduce
  width 1200px
  margin auto
  border 1px solid palegoldenrod
  margin-bottom 100px

#movie-theatre-data
  font-size 12px

#movie-theatre-data>p
  margin-top 20px
  display inline-block

#movie-theatre-data>div
  font-size 12px
  margin-left 15px
  display inline-block
  text-align center
  line-height 32px
  width 120px
  height 32px
  border-radius 18px

#movie-theatre-data1
  background-color rgb(54,191,209)
  color white

#movie-theatre-data2
  background-color white
  color black

#movie-theatre-copy
  width 1200px
  height 500px
  margin auto
  margin-top 10px
  border 10px solid rgb(229,229,229)
  border-radius 14px

#movie-theatre-big
  width 1100px
  height 20px
  margin auto
  margin-top 20px

// 电影照片
#movie-theatre-picture
  border 1px solid aqua
  display inline-block
  width 200px
  height 280px
  vertical-align top

//右边
#movie-theatre-show
  width 860px
  height 300px
  display inline-block
  border 1px solid blue
  //margin-top 20px
  margin-left 40px

.movie-theatre-line1
  width 860px
  height 2px
  background-color  darkgrey

#movie-theatre-show-title>div
  display inline-block
  margin-left 30px
  border 1px solid blueviolet

#movie-theatre-show-name
  font-weight 300
  font-size 30px



