#web-nav
  width 100%
  height 60px
  background-color rgb(29,29,29)
  position fixed
  top 0px
  left 0px
  z-index 200
#web-nav a
  list-style none
  text-decoration none
  color rgb(163,163,163)
#web-logo
  width 95px
  height 60px
  background url('../../assets/Allimg/otherImg/web-logo.png') no-repeat left
  text-align right
  color white
  display inline-block
  vertical-align middle
#city
  width 60px
  height 60px
  position relative
  display inline-block
  vertical-align middle
  color rgb(163,163,163)
  cursor pointer
  margin-left 50px
  line-height 60px
  //text-align center

#city img
  width 40%
  height 40%
  vertical-align middle
#allCity
  width 600px
  height 300px
  overflow scroll
  //overflow-x hidden
  position absolute
  left -200px
  top 55px
  background-color white
  padding: 30px
  z-index 9
#allCity span
  text-decoration none
  color rgb(210,210,210)
  margin 1px
  font-size 12px
  display inline-block
  width 50px
  height 20px
#allCity span:hover{
  color rgb(250,59,0)
}
#myspan {
  width 520px
  margin auto
}
.colorred
  color red
  margin-right 5px
#nav-right
  width 300px
  height 60px
  float right
#appdownload
  width 80px
  height 60px
  text-align center
  vertical-align middle
  color rgb(163,163,163)
  cursor pointer
  font-size 12px
  line-height 60px
  float right
  position relative
#appdownload img
  width 30%
  height 30%
  vertical-align middle
#appdownload-2wm
  width 180px
  height 180px
  position absolute
  left -50px
  top 60px
  line-height 150px
  text-align center
  background-color white
  z-index 999
#appdownload-2wm img
  width 95%
  height 95%
#nav-loginAndsign
  width 90px
  height 60px
  margin-right 80px
  float right
  color: rgb(163,163,163)
  line-height 60px
  text-align center
#nav-login,#nav-sign
  width 40px
  display inline-block
  height 60px
  cursor pointer
  font-size 15px
  line-height 60px
  text-align center
#page-choose
  width 300px
  height 60px
  color rgb(163,163,163)
  display inline-block
  vertical-align middle
  line-height 60px
  margin-left 233px
  text-align center
#page-choose span
  display inline-block
  width 42px
  height 60px
  font-size 16px
  margin 0 40px 0 0
  cursor pointer