#right-active-big
  display block
  width 300px
  position relative
  overflow hidden

#right-active-big h2
  margin-left 10px
  margin-top 10px


#right-active-line
  width 280px
  height 1px
  background-color darkgrey
  margin-left 10px
  margin-top 10px

.right-active-img
  width 280px
  height 180px
  margin-top 20px
  margin-left 10px

.right-active-img:hover + p
  display block

.right-active-img:hover > .right-active-mank
  display block

.right-active-content:hover
  display block

.right-active-content:hover > .right-active-mank
  display block


.right-active-mank
  position absolute
  width 285px
  height 140px
  color white
  opacity 0.3
  background-color white
  display none

#mank-one
  top 72px

#right-active-mank1
  top -140px

#right-active-mank2
  top -140px

#mank-two
  top 298px

#right-active-mank3
  top -140px

#mank-three
  top 524px

.right-active-area
  color white
  background-color white
  width 50px
  height 50px
  border-radius 50%
  position absolute
  z-index 100

#right-active-area1
  left -25px
  top 235px
#right-active-area2
  right -25px
  top 235px

#right-active-area3
  left -25px
  top 435px

#right-active-area4
  right -25px
  top 435px

.right-active-content
  width 280px
  height 50px
  background-color rgb(54,191,209)
  position absolute
  text-align center
  margin-left 10px
  margin-top -50px
  display none
  cursor pointer

.right-active-content a
  color white
  font-size 15px
  text-decoration none
  line-height 50px

